# Systemd conf file to run the Go binary in production
# Should be located in /etc/systemd/system/open_tipitaka_lk.service

[Unit]
Description=Tipitaka.lk New Multi Script Go server
After=network.target

[Service]
Type=simple
User=janaka

WorkingDirectory=/home/janaka/www/open_tipitaka_lk
ExecStart=/home/janaka/www/open_tipitaka_lk/open_tipitaka_lk_linux_intel -no-open
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target

# Start Service
# sudo systemctl start open_tipitaka_lk.service

# View Logs
# journalctl -u open_tipitaka_lk.service